<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="tournament-details.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<!---Componentes que conforman la seccion de ver los detalles de un torneo--->
<app-navbar></app-navbar>
<div *ngFor="let data of tournamentsData">
  <div class="title">{{data.name}}</div>
  <div class="subtitle">{{data.startDate}} - {{data.endDate}}  Tipo de torneo: {{data.type}}</div>
</div>

<body>
  <div class="container">
    <div class="content">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel *ngFor="let bracket of bracketsData">
          <ng-template ngbPanelTitle class="bracket-title">
            <span>{{bracket}}</span>
          </ng-template>
          <ng-template ngbPanelContent>
            <input class="create-match-btn" type="button"  value="+ Agregar Partido" routerLink="" >
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </div>
  </div>
</body>
</html>
