body{
  justify-content: center;
  align-items: center;
  background-color: white;
  height: auto;
  min-height: 100%;

}
.container{
  height: auto;
  max-width: 1400px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.295);
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.20);
}
.container .title{
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 210px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ffffff, #71aae4, #1277D9);
}
.content form .tournament-details{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 12px 0;
}
form .tournament-details .input-box{
  margin-bottom: 15px;
  margin-left: 17%;
  width: calc(50% / 2 );
}
form .tournament-details .input-box1{
  margin-bottom: 15px;
  margin-left: 38%;
  width: calc(23%);
}
form .tournament-details .input-box2{
  margin-bottom: 15px;
  margin-left: 32%;
  width: calc(35% - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}

form .input-box1 span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}

form .input-box2 span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}
.my-check{
  margin-left: 40%;

}
.tournament-details .input-box input{
  height: 45px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.tournament-details .input-box1 input{
  height: 45px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.textarea{
  height: 200px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

 form .category{
   display: flex;
   width: 100%;
   margin-left: 10%;
   margin: 14px 0 ;

 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
   margin-right: 15px;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 15px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two{
   background: #1277D9;
   border-color: #d9d9d9;

 }
 form input[type="radio"]{
   display: none;

 }
 form .button{
   height: 45px;
   margin: 35px 0
 }

 /* Aspecto del boton de crear torneo */
 form .button input{
  height: 100%;
  width: 40%;
  margin-left: 30%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #1277D9, #7bb0e6, #1277D9);
}
 form .button input:hover{
  background: linear-gradient(135deg, #1277D9, #7bb0e6, #1277D9);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}

}

.mat-button{
  background-color:#1277D9;
  color: white;
}

.mat-table{
  width: 100%;
  background-color:white ;
}

.mat-header-cell,
.mat-cell {
  color: #1277D9;
}

.popup{
  width: 500px;
  height: 252px;
  background-size:cover;
  background-position: center;
}










