<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="create-tournament.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<!---Componentes que conforman la seccion de crear un torneo--->

<body>
  <app-navbar></app-navbar>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="title">Crear un torneo</div>
    <div class="content">
      <!---Formulario donde se reciben la informacion para crear el torneo--->
      <form>
        <div class="tournament-details">
          <div class="input-box1">
            <span class="details" >Nombre del torneo<span style="color: rgb(245, 59, 59);">*</span> </span>
            <input type="text" [(ngModel)]= "newTournament.name" minlength="5" maxlength="30" [ngModelOptions]="{standalone: true}"  placeholder="Ingrese un nombre para el torneo aquí..." required>
          </div>
          <div class="input-box">
            <span class="details">Fecha de inicio<span style="color: rgb(245, 59, 59);">*</span> </span>
            <input type="date"  [(ngModel)]= "newTournament.startDate" [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="input-box">
            <span class="details"  >Fecha de final<span style="color: rgb(245, 59, 59);">*</span> </span>
            <input type="date"  [(ngModel)]= "newTournament.endDate" [ngModelOptions]="{standalone: true}"  required>
          </div>
          <div class="input-box2">
            <span class="details" >Descripción del torneo </span>
            <textarea class="textarea" minlength="5" maxlength="1000" [(ngModel)]= "newTournament.description" [ngModelOptions]="{standalone: true}"  placeholder="Ingrese una descripción del torneo aquí.." ></textarea>
          </div>
          <div class="input-box1">
            <span class="details"  >Seleccione el tipo de torneo <span style="color: rgb(245, 59, 59);">*</span></span>
            <div class="details" >
              <input type="radio"  id="dot-1" [(ngModel)]="radioSelected" name="list_name" value="Selecciones" (change)="onItemChange()">
              <input type="radio"  id="dot-2" [(ngModel)]="radioSelected" name="list_name" value="Equipos Locales" (change)="onItemChange()">
              <div class="category">
                <label for="dot-1">
                <span class="dot one"></span>
                <span class="rol">Selecciones</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="rol">Equipos Locales</span>
              </label>
              </div>
            </div>
          </div>
          <div class="input-box">
            <span class="details">Equipos del torneo<span style="color: rgb(245, 59, 59);">*</span></span>
            <mbsc-page>
              <mbsc-select [data]="dropdownData" [(ngModel)]="newTournament.teams" [ngModelOptions]="{standalone: true}" [selectMultiple]="true"  labelStyle="stacked"  placeholder="Seleccione los equipos..."></mbsc-select>
            </mbsc-page>
          </div>

          <div class="input-box">
            <span class="details">Fases del torneo<span style="color: rgb(245, 59, 59);">*  </span><button mat-button (click)="openDialog('Agregar',{})" >Agregar Fase</button></span>


            <table mat-table [dataSource]="bracketSource" #mytable class="my-table mat-elevation-z8">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre de la fase </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                  <a (click)="openDialog('Eliminar',element)"> Eliminar</a>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


          </div>
        </div>
        <div class="button">
          <input type="submit" value="Crear Torneo" (click)="addTournament()">
        </div>
      </form>
    </div>
  </div>






</body>

<ng-template #content let-modal>
  <div class="popup">
    <button class="close cbtn" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
</ng-template>

</html>
