<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content @.disabled>
  <mat-form-field *ngIf="action != 'Eliminar'; else elseTemplate">
    <input minlength="5" maxlength="30"  class="input" placeholder="{{action}} fase.." matInput [(ngModel)]="local_data.name">
  </mat-form-field>
  <ng-template #elseTemplate>
    Seguro que desea eliminar <b>{{local_data.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button  (click)="doAction()">{{action}}</button>
  <button mat-button  (click)="closeDialog()" mat-flat-button>Cancelar</button>
</div>
