<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="groups.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<body>
  <app-navbar></app-navbar>
  <br>
  <br>
  <br>
  <br>
  <div class="input-box">
    <div class="title">Mis grupos</div>
    <input style="margin-left: 37%;" class="code" type="text" maxlength="12" [(ngModel)]= "groupCode" [ngModelOptions]="{standalone: true}" placeholder="Ingrese ID de grupo">
    <input class="inbtn" type="submit" value="Unirme Grupo" (click)="joinGroup()">
    <input class="inbtn" type="submit" value="Crear Grupo" routerLink="/create-groups">
  </div>
  <div class="container">
    <div class="content">

      <table id="groups" class="table table-bordered mt-4 mytable">
        <tr class="table-primary mytable">
          <th>Nombre del Grupo</th>
          <th>ID de invitación</th>
          <th>Grupo de torneo</th>
          <th>Detalles</th>
        </tr>
      <tr *ngFor="let data of groupsData">
        <td>{{data.name}}</td>
          <td>{{data.gId}}</td>
          <td>{{data.tId}}</td>
          <td><button class="viewbtn" (click)="showGroup(data.gId)" routerLink="/group-details" >Ver Grupo</button></td>
      </tr>
      </table>
    </div>
  </div>
</body>
</html>
